<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-us" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{title}}</title>
		<meta name="description" content="{{description}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{{#is site.theme "default"}}
			<!-- Bootstrap Vanilla CSS -->
			<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		{{else}}
			<!-- Bootswatch Theme CSS -->
			<link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/{{site.theme}}/bootstrap.min.css" rel="stylesheet">
		{{/is}}

		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link href="/css/main.css" rel="stylesheet">
	</head>
	<body>
		<!--[if lt IE 7]>
			<h1 class="browsehappy">You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h1>
		<![endif]-->

		<!--  Navigation  -->
		{{>navbar}}

		<!-- Main Content -->
		{{>body}}

		<!-- Footer Content -->
		{{>footer}}

		<script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/js/main.js"></script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '{{site.ga}}', '{{site.domain}}');
			ga('send', 'pageview');
		</script>
	</body>
</html>